<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @truck.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @truck.user %>
</p>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
